
crawler/G.py
dailycash/.idea
dailycash/Gfile
chatGPT_response/.idea
chatGPT_response/.idea/vcs.xml
chatGPT_response/.idea/modules.xml
chatGPT_response/.idea/misc.xml
app/stocx_download/stocx_download.docx
app/dlib_face_detection_qt5/.idea/
app/dlib_face_detection_qt5/__pycache__/
app/dlib_face_detection_qt5/Gfile
app/dlib_face_detection_qt5/model/
app/dlib_face_detection_qt5/ui/__pycache__/
app/dlib_face_detection_qt5/sdk/__pycache__/
app/yolov7_custom_training/training_data/
app/youtube_download/__pycache__/
app/youtube_download/build/
app/youtube_download/dist/
app/youtube_download/img/__pycache__/
app/youtube_download/MainWindow.spec
app/youtube_download/ui/__pycache__/
tools/
practice_venv/